

/*Estilos con bootstrap- -header*/

.logo-imagen{
    width:100px;
    height:80px;
    border-radius: 100%;
}

.header{
   
    background-color:#117a3f; 
}


.header_item{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}


nav a{ text-decoration: none;
    color:black;
    font-family:inherit
}

nav a:hover{
    color:#fd9407;
}

.hover:hover{color:#fd9407;

}

.hover{color: black;}


.logo{
    display: flex;
}

.logo-nombre{
        padding: 11px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #d2691e;
        margin-left: 15px;
        font-size: 39px;
    }

   

   
body{
    margin: 0%;
}

/*Mi planta*/

.imageninfocard{
    width: 200px;
    height: 200px;
}

.titulo1{
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #1d6933;

}

.info{
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin: 0%;
    text-align: center;
    overflow-y: hidden;
    padding: 10px;
}

/* grillas*/

.infocard{
    background-color:white;
    padding: 1rem 1rem;
}

.infocard p{
    padding: 20px;
    height: 48%;
}

.infocard h3{
    padding: 10px;
}

.btn1{
    background-color: #d2691e;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 8px;
    box-shadow: 2px 2px 10px black;
    
  
}

.btnn{
 
    background-color: #d2691e;
    color: white;
    border-radius: 2px;
   font-weight: bold;
   padding: 5px 8px;
   box-shadow: 3px black;
   border: 1px solid black;
}
 
/*footer*/

.logofooter{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    
}

.footerredes{width: 30px;
    height: 30px;
  
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 70px;
    padding: 10px;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}


/*contacto formulario*/

.titulocontacto{
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: #117a3f;
    padding: 30px;
}

.formulario{
    width: 70%;
    margin: 0% auto;
    border: 5px solid black;
margin-top: 20px;
}

.borderform{border: 2px solid black;
    }

.botonform{
    margin-top: 8px;
}    

/*stock */

.btn{
    background-color: darksalmon;
    color: black;
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    text-decoration: none;
    }
    
    /* hover a btn*/
    
    .btn:hover{ font-size: 2rem;
    }
    
    /*boostrap btn saque stock*/
    
    .btn{
        border-bottom: black;
        padding:10px;
        font-size:1rem;  
        }
    
    .btn:hover{
        font-size: 1.5rem;
        background-color: salmon}

    
    .tamañoimagen{
        height: 300px;
        width: 300px;
    }
    
    .contenedor{
        max-width: 1000px;
        border: 10px solid black;
       margin: auto;
        font-size: 20px;
        line-height: 5px;
        text-align: center;
    }
     
    .contenedor > div {
    display: block;
    padding: 5px;
    color: black;
    background-color:white
    
    }
    
    /*grid*/
    
    .maindestock{
        display:flex;
        padding: 48px;
    }
    
    .contenedor{ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /*NOSOTROS*/
    
    
    .bloque1{
       font-size: 20px;
       font-family: Arial, Helvetica, sans-serif;
       color: black;
    }
    .titulonosotros{
        color: #d2691e;
       font-size: 60px;
       border: 5px;
    }
    .videonosotros{
        width: 100%;
        height: 100%;
    }






/*index*/

.contenedor-carrusel{
    margin-top: 35px;
}
.carrusel--alto{
    height: 70vh;
    padding: 0px;
   
}

.carrusel--img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

.tituloindex{
    margin-top: 41px;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    color: #1d6933;
    background-color: burlywood;
}

.displayflex{
    display: flex;
    justify-content: center;
}

.cardindex{
    background-color:white;
    padding: 1rem 1rem;
}

.imagenindex1{
    width: 200px;
    height: 200px;
}

.btnindex{
        background-color: #d2691e;
        color: white;
        border-radius: 2px;
        font-weight: bold;
        padding: 5px 8px;
        box-shadow: 2px 2px 10px black;
        display: block;
        margin: 33px;
        width: 100px;
        margin-left: 144px;
    }



/*RESPONSIVE HASTA index */

    @media screen and (max-width:768px)and (min-width:321px) {
        .logo-nombre{
                font-size: 30px;
                font-weight: bold;
                padding: 1px;
                margin-top: none;
                align-items: center;
                display: flex;
            } 

        /*header*/
        .nav{
            font-size: 15px;
            font-weight: bold;
        }

        .header_item {
            margin: 3px;
            padding: 5px}
        
        ul.header_list {
            margin: 2px;
            padding: 2px;
        }
        
        .btnindex{
                display: flex;
                margin: auto;
                justify-content: center;
                margin-top: 20px;
                margin-left: 65px;
            }

            .imagenindex1 {
                width: 200px;
                height: 200px;
                margin: 15px;
            }
            .row.info.aos-init.aos-animate {
                margin-right: 20px;}
            }

            /*320*/

            @media screen  and (max-width:320px){
                .carrusel--img {
                    object-fit: cover;
                    object-position: center;
                    height: auto;
                }
                .carrusel--alto {
                  height: auto; 
                  padding: auto;
                }

                .tituloindex {
                    padding: 0px;}

                .imagenindex1 {
                    width: 150px;
                    height: 150px;
                }
                a.btnindex {
                    display: block;
                    margin-left: 80px;
                }
            }

 /*responsive stock*/

        @media screen and (max-width:768px) and (min-width:321px) {
            .contenedor {
                display: grid;
                grid-template-columns: 1fr 1fr;
            
        }}

        @media screen and (max-width:320px) {

        .header {
                display: block;
                height: auto;
        }
        .nav {
            display: flex;
            justify-content: center;}

        .header_list {
             display: flex;
            flex-direction: column;
         }
         .header_item {
            display: inline-block;
            margin: 2px;
            padding: 5px;}
    
        .maindestock {
            display: block;
            padding: 10px;
        }   

        .contenedor {
        display: block;
        text-align: center;}

        .tamañoimagen {
            height: 150px;
            width: 150px;}

        .contenedor{
            border: 0px;
        } 
        
        footer {
            background-color: black;
            color: white;
            text-align: center;
           height: auto;
            padding: 10px;
            margin-top: 100px;
            display: grid;
            justify-content: center;
            align-items: center;
        }
    }


        /*responsive mi planta*/

        @media screen and (max-width:768px) and (min-width:321px) {
           
            .titulo1{padding: 10px;}

            .container-fluid{
                padding: 0px;
            }

            .info{
                margin-right: 27px;
                padding-right: 10px;
            }

            .btn1{
                margin: 30px;
                display: flex;
                justify-content: center;
                margin-top: 70px;
            }
           
            .mediafooter{
                margin-top: 0px;
            }
        }

        @media screen and (max-width:320px) {
            .titulo1 {
                display: flex;
                justify-content: center;
                padding: 10px;
            }

            .info {
                display: block;
                flex-wrap: nowrap;
                overflow-x: hidden;
                margin: 0%;
                text-align: center;
                overflow-y: hidden;
                padding: 10px;
            }
            
        }
        /*nosotros*/
        @media screen and (max-width:768px) and (min-width:321px){
            .videonosotros {
                width: 340px;
                height: 350px;
            }
            
            .titulonosotros {
                font-size: 40px; 
        }
        }

        @media screen and (max-width:320px) {
            .titulonosotros {
                font-size: 30px;
            }
        }



        /*contacto* 768 ta ok*/

        @media screen and (max-width:768px) and (min-width:321px){
            
        }

        @media screen and (max-width:320px) {

            .titulocontacto {
                font-size: 30px;
                padding: 10px;
            }

            .formulario {
                width: auto;
            }
            .overflow{
                overflow-y: hidden;
                overflow-x: hidden;
            }
            
             /*barnav*/
            .logo{
                display: block;
            }
        
            .logo-nombre{
                padding: 0px;
            }
            .botonmedio{
                margin-left: 130px;
            }
        
            .logo-imagen{
                margin-left: 110px;
            }
        
        }

        body{
            overflow-x: hidden;
           
        }