/*contacto formulario*/

.titulocontacto{
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: #117a3f;
    padding: 30px;
}

.formulario{
    width: 70%;
    margin: 0% auto;
    border: 5px solid black;
margin-top: 20px;
}

.borderform{border: 2px solid black;
    }

.botonform{
    margin-top: 8px;
}    