/*contacto formulario*/

@import"./variables";

.titulocontacto{
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: $verde1;
    padding: 30px;
}

.formulario{
    width: 70%;
    margin: 0% auto;
    border: 5px solid black;
margin-top: 20px;


&_borderform{border: 2px solid black;
    }

&_botonform{
    margin-top: 8px;
}
}    