@import"./variables";




.header{
   
    background-color:$verde1;

    &_logo{
        display: flex;
    }

    &_logo-imagen{
        width:100px;
        height:80px;
        border-radius: 100%;
        object-fit: cover;
    }

    &_logo-nombre{
        padding: 11px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $marronheader;
        margin-left: 15px;
        font-size: 39px;
    }

   &_item{
        display: inline-block;
        margin: 10px;
        padding: 10px;
    }
    
    &_nav {
        a {
            text-decoration: none;
            color: black;
            font-family: inherit;
            &:hover {
                color: $marronhover;
            }
        }
    }
}
    .hover {
        &:hover {
            color: $marronhover;
        }
        color: black;}





    




   
    body{
        margin: 0%;
    }
    