/*index*/
@import"./variables";

.contenedor-carrusel{
    margin-top: 35px;

&carrusel--alto{
    height: 70vh;
    padding: 0px;
   
}

&carrusel--img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

}

.displayflex{
    display: flex;
    justify-content: center;


&_tituloindex{
    margin-top: 41px;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    color: #1d6933;
    background-color: $destacados
}

&_cardindex{
    background-color:white;
    padding: 1rem 1rem;
}

&_imagenindex1{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

&_btnindex{
        background-color: $marronheader;
        color: white;
        border-radius: 2px;
        font-weight: bold;
        padding: 5px 8px;
        box-shadow: 2px 2px 10px black;
        display: block;
        margin: 33px;
        width: 100px;
        margin-left: 164px;
    }
}