/*RESPONSIVE HASTA index */

@media screen and (max-width:768px)and (min-width:321px) {
    .header_logo-nombre{
            font-size: 30px;
            font-weight: bold;
            padding: 1px;
            margin-top: none;
            align-items: center;
            display: flex;
        } 

    
    .header_nav{
        font-size: 15px;
        font-weight: bold;
    

    &_item {
        margin: 3px;
        padding: 5px}
    }
    
    ul.header_list {
        margin: 2px;
        padding: 2px;
    }
    
    .displayflex_btnindex{
            display: flex;
            margin: auto;
            justify-content: center;
            margin-top: 20px;
            margin-left: 65px;
        }

        .displayflex_imagenindex1 {
            width: 200px;
            height: 200px;
            margin: 15px;
        }
        .row.info.aos-init.aos-animate {
            margin-right: 20px;}
        }

        /*320*/

        @media screen  and (max-width:320px){
            
            .contenedor_carrusel--alto {
              height: auto; 
              padding: auto;
            
              &_carrusel--img {
                object-fit: cover;
                object-position: center;
                height: auto;
            }
        }

            .displayflex_tituloindex {
                padding: 0px;}

            .displayflex_imagenindex1 {
                width: 150px;
                height: 150px;
            }
            .displayflex_btnindex {
                display: block;
                margin-left: 80px;
            }
        }

/*responsive stock*/

    @media screen and (max-width:768px) and (min-width:321px) {
        .maindestock_contenedor {
            display: grid;
            grid-template-columns: 1fr 1fr;
        
    }}

    @media screen and (max-width:320px) {

    .header {
            display: block;
            height: auto;
    
    &_nav {
        display: flex;
        justify-content: center;}

        &_item {
            display: inline-block;
            margin: 2px;
            padding: 5px;}
        }

    .header_list {
         display: flex;
        flex-direction: column;
     }
     

    .maindestock {
        display: block;
        padding: 10px;
     

    &_contenedor {
    display: block;
    text-align: center;}

    &_tamañoimagen {
        height: 150px;
        width: 150px;}

    &_contenedor{
        border: 0px;
    } 
}
    
    footer {
        background-color: black;
        color: white;
        text-align: center;
       height: auto;
        padding: 10px;
        margin-top: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}


    /*responsive mi planta*/

    @media screen and (max-width:768px) and (min-width:321px) {
       
        .titulo1{padding: 10px;}

        .container-fluid{
            padding: 0px;
        }

        .titulo1_info{
            margin-right: 27px;
            padding-right: 10px;
        

        &_titulo1_btn1{
            margin: 30px;
            display: flex;
            justify-content: center;
            margin-top: 280px;
        }
    }
       
        .mediafooter{
            margin-top: 0px;
        }
    }

    @media screen and (max-width:320px) {
        .titulo1 {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .titulo1_info {
            display: block;
            flex-wrap: nowrap;
            overflow-x: hidden;
            margin: 0%;
            text-align: center;
            overflow-y: hidden;
            padding: 10px;
        }
        
    }
    /*nosotros*/
    @media screen and (max-width:768px) and (min-width:321px){
        .bloque1_videonosotros {
            width: 340px;
            height: 350px;
        }
        
        .bloque1_titulonosotros {
            font-size: 40px; 
    }
    }

    @media screen and (max-width:320px) {
        .bloque1_titulonosotros {
            font-size: 30px;
        }
    }



    /*contacto* 768 ta ok*/

    @media screen and (max-width:768px) and (min-width:321px){
        
    }

    @media screen and (max-width:320px) {

        .titulocontacto {
            font-size: 30px;
            padding: 10px;
        }

        .formulario {
            width: auto;
        }
        .overflow{
            overflow-y: hidden;
            overflow-x: hidden;
        }
        
         /*barnav*/
        .header_logo{
            display: block;
        
    
        &_logo-nombre{
            padding: 0px;
        }
        
        &_logo-imagen{
            margin-left: 110px;
        }
    }
        .botonmedio{
            margin-left: 130px;
        }
    
        
    
    }

    body{
        overflow-x: hidden;
       
    }