/*stock */
@import"./variables";

 /*grid*/
    
 .maindestock{
    display:flex;
    padding: 48px;

    &_contenedor {
        max-width: 1000px;
        border: 10px solid black;
        margin: auto;
        font-size: 20px;
        line-height: 5px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        >div {
            display: block;
            padding: 5px;
            color: black;
            background-color: white;
        }
    }

    &_tamañoimagen{
        height: 300px;
        width: 300px;
        object-fit: cover;
    }

&_btn {
	background-color: $btnstock;
	color: black;
	display: inline-block;
	margin-top: 5px;
	padding: 10px;
	text-decoration: none;
	border-bottom: black;
	padding: 10px;
	font-size: 1rem;
	&:hover {
		font-size: 2rem;
		font-size: 1.5rem;
		background-color: $salmon;
	}
}
 }
    
   
    
    
    
    
   
    
    